* {
  box-sizing: border-box;
  margin: 0;
}
body {
  width: 100%;
  font-family: cursive;
  background-color: maroon;
}
body h1 {
  text-align: center;
  text-shadow: 1px 1px 1px;
}
/** large devices only **/
@media (min-width: 1200px) {
  .col-lg-4 {
   /* border: 1px solid black; */ 
  }
  .col-lg-4 {
    width: 33.33%;
  }
}
/* medium devices only */
@media (min-width: 992px) and (max-width: 1199px) {
  .col-md-6, .col-md2-6 {
   /* border: 1px solid black; */ 
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md2-6 {
    width: 98.8%;
    margin-top: 60px;
    height: 290px;
  }
}
/** small devices only **/
@media (min-width: 768px) and (max-width: 991px) {
  .col-sm-12 {
   /* border: 1px solid black; */ 
  }
  .col-sm-12 {
    width: 100%;
    margin-top: 100px;
    margin-left: 20px;
  }
}
/** for extra small devices **/
@media (max-width: 767px) {
  .col-xs-12 {
    /* border: 1px solid black; */
  }
  .col-xs-12 {
    width: 100%;
    margin-top: 100px;
    margin-left: 15px;
  }
}
div.container {
  height: 70px;
  background-color: silver;
  width: 100%;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -50px;
  margin-left: 420px
}
#nav-list a:hover {
  color: green;
}
#nav-list a {
  font-size: 17px;
  text-align: center;
}
div#collapsable-nav {
  float: left;
  text-align: center;
  width: 10px;
  margin-left: -80px;
}
nav div h1 {
  text-align: left;
}
div {
  height: 471px;
  /* border: 1px solid black; */
  float: left;
}
div section h2 {
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: center;
  text-shadow: 1px 1px 1px;
}
div section {
  width: 95%;
  height: 550px;
  background-color: silver;
  border: 1px solid black;
  padding: 0 20px;
}
div section p {
  font-family: cursive;
  font-size: 16px;
}
div section p a:hover {
  color: green;
  text-decoration: none;
}